.container{
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto auto auto ;
}
img{
    height: 200px;
    width: 150px;
}
.card{
    height: auto;
    width: 200px;
}
body{
    background-color:rgb(195, 50, 24);
}